__pycache__/color_palette.cpython-314.pyc
__pycache__/data.cpython-314.pyc
__pycache__/MenuManager.cpython-314.pyc
__pycache__/pygame_ui.cpython-314.pyc
__pycache__/pyvectors.cpython-314.pyc
__pycache__/UI.cpython-314.pyc
__pycache__/pyvectors.cpython-314.pyc
__pycache__/pyvectors.cpython-314.pyc
